passwords.txt
.idea/
.venv/
*.dmg
SDKs/
osxcross/
new-passquantum/ui/zz_passquantum_icon_windows*.syso
__pycache__/
face_data.pkl
.venv-faceguard/
# Sensitive runtime files
private.key
public.key
vaults/
*.pqdb

# Build artifacts
build/
fyne-cross/
*.exe
PassQuantum
app-security.pqmeta
face_data.npy
